*.py[cod]
*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.*.swp
.coverage
.tox/
nosetests.xml
coverage.xml
tutorial.db
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/

eggs
parts
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

#config
*.ini
.Python
